[package]
name = "russcip"
authors = ["Mohammed Ghannam <ghannam@zib.de>"]
description = "Rust interface for SCIP"
license = "Apache-2.0"
repository = "https://github.com/scipopt/russcip"
version = "0.7.1"
edition = "2021"
exclude = ["data/test/*"]

[features]
bundled = ["scip-sys/bundled"]
from-source = ["scip-sys/from-source"]

[dependencies]
scip-sys = "0.1.21"

[dev-dependencies]
rayon = "1.5.1"
petgraph = "0.7.1"

[lints.clippy]
too_many_arguments = "allow"
